/* line 1, ../../../app/models/ending/ending.scss */
.ending-wrapper {
  width: 100%;
  height: 100%;
  background: url("images/ending/qq-logo-c-hor.png") no-repeat top left scroll;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  position: absolute;
}

/* line 9, ../../../app/models/ending/ending.scss */
.ending-box {
  width: 70%;
  height: 100%;
}
/* line 12, ../../../app/models/ending/ending.scss */
.ending-box img {
  width: 100%;
}

/* line 16, ../../../app/models/ending/ending.scss */
.ending-center {
  margin: 0 auto;
}

/* line 19, ../../../app/models/ending/ending.scss */
.ending-top {
  width: 100%;
  max-width: 330px;
  max-height: 60px;
  margin-top: 20%;
}

/* line 25, ../../../app/models/ending/ending.scss */
.ending-gift {
  margin-top: 20%;
  max-width: 330px;
  max-height: 60px;
}

/* line 30, ../../../app/models/ending/ending.scss */
.ending-main {
  width: 60%;
  max-width: 198px;
  max-height: 84px;
  margin: 20%  auto;
}

/* line 36, ../../../app/models/ending/ending.scss */
.ending-mail-info {
  margin-top: 20%;
  max-width: 330px;
  max-height: 30px;
}

/* line 41, ../../../app/models/ending/ending.scss */
.ending-logo-name {
  background-size: contain;
  width: 100%;
  height: 15%;
  max-width: 330px;
  max-height: 110px;
  background: url("images/ending/ending-info.png") no-repeat center center scroll;
}

/* line 50, ../../../app/models/ending/ending.scss */
.ending-shadow-share {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background: url("images/ending/MASK.png") no-repeat center center scroll;
  background-size: 100% 100%;
}
