.sng_test_result-main {
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: auto;

	background: #154CB0 url(images/sng_test_result/bg.png) no-repeat center center;

	.test-result {
		margin: 0 auto;
		background: url(images/sng_test_result/calc.png) no-repeat;
	}

	.test-result-value {
		margin: 0 auto;
		background: url(images/sng_test_result/suitable.png) no-repeat;

		.percent {
			position: relative;
		}
	}

	.sng {
		margin: 0 auto;
		background: url(images/sng_test_result/sng.png) no-repeat;
	}

	.sng-fullname {
		margin: 0 auto;
		background: url(images/sng_test_result/sng_fullname.png) no-repeat;
	}

	.bar {
		margin: 0 auto;
		background: url(images/sng_test_result/bar.png) no-repeat;
	}

	.detail {
		margin: 0 auto;
		background: url(images/sng_test_result/detail.png) no-repeat;
	}

	.recommend {
		margin: 0 auto;
		margin-bottom: 40px;
		background: url(images/sng_test_result/recommend.png) no-repeat;
	}
}

.sng_test_result-main {
	padding-top: 15px;

	background-size: cover;

	.test-result {
		width: 45%;
		max-width: 254px;
		background-size: contain;
	}

	.test-result-value {
		margin-top:  15px;

		width: 70%;
		max-width: 483px;
		background-size: contain;

		.percent {
			top: 2px;
			width: 30%;
			max-width: 153px; 
			left: 30%;
		}
	}

	.sng {
		margin-top: 30px;
		
		width: 75%;
		max-width: 600px;
		background-size: contain;
	}

	.sng-fullname {
		margin-top: 15px;
		
		width: 75%;
		max-width: 480px;
		background-size: contain;
	}

	.bar {
		margin-top: 15px;
		
		width: 75%;
		height: 1px;
		max-width: 480px;
		background-size: contain;
	}

	.detail {
		margin-top: 15px;
		
		width: 75%;
		max-width: 507px;
		background-size: contain;
	}

	.recommend {
		margin-top: 40px;
		
		width: 75%;
		max-width: 527px;
		background-size: contain;
	}
}



