/* line 1, ../../../app/models/sng_test/sng_test.scss */
.sng_test-main {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: auto;
  background: #154CB0;
}
/* line 10, ../../../app/models/sng_test/sng_test.scss */
.sng_test-main .test-title .test-title-up {
  margin: 0 auto;
  padding: 0;
  background: url(images/sng_test/familiar.png) no-repeat;
}
/* line 16, ../../../app/models/sng_test/sng_test.scss */
.sng_test-main .test-title .test-title-down {
  margin: 0 auto;
  background: url(images/sng_test/product-icon.png) no-repeat;
}
/* line 22, ../../../app/models/sng_test/sng_test.scss */
.sng_test-main .separator {
  margin: 0 auto;
  background: url(images/sng_test/bar.png) no-repeat;
}
/* line 27, ../../../app/models/sng_test/sng_test.scss */
.sng_test-main .test-sub-title {
  margin: 0 auto;
  background: url(images/sng_test/sub-title.png) no-repeat;
}
/* line 32, ../../../app/models/sng_test/sng_test.scss */
.sng_test-main .brands {
  position: relative;
  margin: 0 auto;
  background: url(images/sng_test/brands.png) no-repeat;
}
/* line 37, ../../../app/models/sng_test/sng_test.scss */
.sng_test-main .brands .brand-item {
  position: absolute;
}
/* line 41, ../../../app/models/sng_test/sng_test.scss */
.sng_test-main .brands .active {
  background: url(images/sng_test/circle-selected.png) no-repeat;
}
/* line 45, ../../../app/models/sng_test/sng_test.scss */
.sng_test-main .brands .test-result {
  position: absolute;
  left: 0;
  bottom: 10px;
  right: 0;
  display: none;
  margin: 0 auto;
  background: url(images/sng_test/result.png) no-repeat;
}

/* line 58, ../../../app/models/sng_test/sng_test.scss */
.sng_test-main .test-title {
  padding-top: 10px;
}
/* line 61, ../../../app/models/sng_test/sng_test.scss */
.sng_test-main .test-title .test-title-up {
  width: 35%;
  height: 32px;
  max-width: 200px;
  max-height: 32px;
  background-size: contain;
}
/* line 69, ../../../app/models/sng_test/sng_test.scss */
.sng_test-main .test-title .test-title-down {
  width: 65%;
  max-width: 482px;
  background-size: contain;
}
/* line 76, ../../../app/models/sng_test/sng_test.scss */
.sng_test-main .separator {
  margin-top: 15px;
  width: 60%;
  height: 1px;
  max-width: 482px;
  max-height: 1px;
  background-size: contain;
}
/* line 85, ../../../app/models/sng_test/sng_test.scss */
.sng_test-main .test-sub-title {
  margin-top: 10px;
  width: 65%;
  max-width: 482px;
  background-size: contain;
}
/* line 92, ../../../app/models/sng_test/sng_test.scss */
.sng_test-main .brands {
  margin-top: 10px;
  width: 65%;
  max-width: 482px;
  background-size: contain;
}
/* line 98, ../../../app/models/sng_test/sng_test.scss */
.sng_test-main .brands .brand-item {
  background-size: contain;
}
/* line 102, ../../../app/models/sng_test/sng_test.scss */
.sng_test-main .brands .test-result {
  width: 75%;
  max-width: 472px;
  background-size: contain;
}
