.sng_test-main {
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: auto;

	background: #154CB0;

	.test-title {
		.test-title-up {
			margin: 0 auto;
			padding: 0;
			background: url(images/sng_test/familiar.png) no-repeat;
		}

		.test-title-down {
			margin: 0 auto;
			background: url(images/sng_test/product-icon.png) no-repeat;
		}
	}

	.separator {
		margin: 0 auto;
		background: url(images/sng_test/bar.png) no-repeat;
	}

	.test-sub-title {
		margin: 0 auto;
		background: url(images/sng_test/sub-title.png) no-repeat;
	}

	.brands {
		position: relative;
		margin: 0 auto;
		background: url(images/sng_test/brands.png) no-repeat;

		.brand-item {
			position: absolute;
		}

		.active {
			background: url(images/sng_test/circle-selected.png) no-repeat;
		}
		
		.test-result {
			position: absolute;
			left: 0; 
			bottom: 10px; 
			right: 0; 
			display: none;
			margin: 0 auto;
			background: url(images/sng_test/result.png) no-repeat;
		}
	}
}

.sng_test-main {
	.test-title {
		padding-top: 10px;

		.test-title-up {
			width: 35%;
			height: 32px;
			max-width: 200px;
			max-height: 32px;
			background-size: contain;
		}

		.test-title-down {
			width: 65%;
			max-width: 482px;
			background-size: contain;
		}
	}

	.separator {
		margin-top: 15px;
		width: 60%;
		height: 1px;
		max-width: 482px;
		max-height: 1px;
		background-size: contain;
	}

	.test-sub-title {
		margin-top: 10px;
		width: 65%;
		max-width: 482px;
		background-size: contain;
	}

	.brands {
		margin-top: 10px;
		width: 65%;
		max-width: 482px;
		background-size: contain;

		.brand-item {
			background-size: contain;
		}

		.test-result {
			width: 75%;
			max-width: 472px;
			background-size: contain;
		}
	}
}

