@charset "UTF-8";
/* line 3, ../../../app/models/qq_talk/qq_talk.scss */
input[type=button], input[type=text], input[type=password] {
  -webkit-appearance: none;
  outline: none;
}

/* line 11, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-fl {
  float: left;
}

/* line 14, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-fr {
  float: right;
}

/* line 17, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-wraper {
  width: 100%;
  max-width: 640px;
  height: 100%;
  max-height: 919px;
  background: #FFFFFF;
  background: url("images/qq_talk/bg_copy.png") no-repeat scroll top left;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0;
}


/* line 28, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-header {
  width: 100%;
  height: 47px;
  position: fixed;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  z-index: 10;
}



/* line 34, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-header img {
  z-index: 10;
}

.qq_talk-content {
  position: relative;
  width: 100%;
  overflow-y:auto;
  -webkit-overflow-scrolling:touch;
  padding-top: 47px;
  padding-bottom: 45px;
}
.qq_talk-main {
  height: 100%;
  width: 100%;
}

.qq_talk-main .J_qqTalk {
  display: none;
}

.qq_talk-main .large-em {
  vertical-align: middle;
}

.qq_talk-main ul {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.qq_talk-main li {
  display: block;
  list-style: none;
  width: 100%;
  height: auto;
  padding: 3% 3%;
  float: left;
}
/* line 64, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-main li h5 {
  margin: 0 0.67em;
  font-size: 0.8rem;
}
/* line 68, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-main li .qq_talk-link-img {
  width: 35%;
  max-width: 60px;
  height: 35%;
  max-height: 60px;
}
/* line 74, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-main li .desc {
  margin-left: 0.67em;
  max-width: 8em;
  font-size: 0.6rem;
  color: #777777;
  display: inline-block;
}

/* line 83, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-user-icon {
  width: 15%;
  height: 15%;
  max-height: 53px;
  max-width: 53px;
}
/* line 88, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-user-icon img {
  max-width: 53px;
  max-height: 53px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

/* line 98, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-text {
  max-width: 50%;
  padding: 3% 3%;
  font-size: 0.97em;
  width: auto;
  height: auto;
  line-height: 1.15;
  font-weight: normal;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
/* line 110, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-text div {
  width: 60%;
}

.qq_talk-link .qq_talk-fl h5 {
  font-size: 15px;
  font-weight: 400;
}

.qq_talk-link .qq_talk-fl span {
  font-size: 14px;
}

/* line 114, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-tail {
  width: 16px;
  height: 28px;
}

/* line 118, ../../../app/models/qq_talk/qq_talk.scss */
.tail1 {
  background: url("images/qq_talk/box_dialog_tail1.png") no-repeat scroll top left;
  margin-left: -8px;
  margin-right: 8px;
  margin-top: -4px;
}

/* line 124, ../../../app/models/qq_talk/qq_talk.scss */
.tail2 {
  background: url("images/qq_talk/box_dialog_tail2.png") no-repeat scroll top left;
  margin-right: -8px;
  margin-left: 8px;
  margin-top: -5px;
}

/* line 130, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-dg-1 {
  background: #18B4ED;
  color: #ffffff;
}

/* line 136, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-dg-5 {
  background: #FFFFFF;
  color: #000000;
}

.qq_talk-dg-5 img {
  vertical-align: middle;
}

/* line 143, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-footer {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  max-width: 640px;
  height: 45px;
  max-height: 88px;
  line-height: 44px;
  background: url("images/qq_talk/box_input_bg2.png") no-repeat scroll top left;
  background-size: cover;
}
/* line 154, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-footer input {
  margin-top: 1.5%;
  width: 76%;
  height: 60%;
  border: 1px solid #c8c9ca;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1em;
  margin-left: 5px;
  float: left;
}

.qq_talk-footer .qq_talk-input {
  width: 76%;
  height: 60%;
  background-color: #fff;
  border: 1px solid #c8c9ca;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1em;
  margin-left: 5px;
  float: left;
  overflow: hidden;
  line-height: 24px;
  margin-top: 10px;
}

/* line 166, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-footer .icon-face {
  margin-top: 10px;
  width: 8%;
  height: 65%;
  background: url("images/qq_talk/button_exp.png") no-repeat scroll center;
  background-size: contain;
  border: none;
  float: left;
  margin-left: 6px;
}
/* line 176, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-footer .icon-add {
  margin-top: 10px;
  width: 8%;
  height: 65%;
  background: url("images/qq_talk/button_ins.png") no-repeat scroll center;
  background-size: contain;
  border: none;
  float: left;
  margin-left: 6px;
}

/* line 188, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-input-keybord {
  width: 100%;
  padding: 35% 0;
  background: url("images/qq_talk/keybord.png") no-repeat top left scroll;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  display: none;
}

/* line 198, ../../../app/models/qq_talk/qq_talk.scss */
.user-bringbring {
  -webkit-backface-visibility: visible;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation: bringbring 0.9s infinite ease-in-out normal none;
  -o-animation: bringbring 0.9s infinite ease-in-out normal none;
  animation: bringbring 0.9s infinite ease-in-out normal none;
}

@-webkit-keyframes bringbring {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
/* line 216, ../../../app/models/qq_talk/qq_talk.scss */
.qq_talk-show {
  -webkit-backface-visibility: visible;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

/* line 230, ../../../app/models/qq_talk/qq_talk.scss */
.showdow {
  visibility: hidden;
  position: absolute;
  width: 25%;
  max-width: 100px;
  height: 9%;
  max-height: 60px;
  bottom: 1px;
  right: 2px;
  background: url("images/qq_talk/circle.png") no-repeat center center scroll;
  background-size: contain;
  z-index: 200;
}

/* line 244, ../../../app/models/qq_talk/qq_talk.scss */
.box-shadow {
  box-shadow: 0 0 15px #000;
}
