@charset "UTF-8";
.q_zone {
    &-main {
        height: 100%;
        background: #ececec;
        overflow: hidden;
        position: relative;
        font-family: "Heiti SC", "华文细黑", "微软雅黑";
        .mask {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #000;
            z-index: 200;
        }
        .cover-img {
            position: absolute;
            z-index: 300;
            background: no-repeat center center;
            background-image: url(images/q_zone/temp.jpg);
            background-size: contain;
        }
        .wrapper {
            position: absolute;
            top: 45px;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
        }
        .zoom-in-list-wapper {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            overflow: hidden;
        }
        .zoom-in-list {
            position: absolute;
            z-index: 400
        }
    }
    &-header {
        position: absolute;
        z-index: 100;
        font-weight: 900;
        color: #fff;
        background: #23b4eb;
        left: 0;
        right: 0;
        font-size: 0;
        img {
            width: 100%
        }
    }
    &-table-view,
    &-table-view li {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    &-table-view {
        // margin-top: 50px;
        li {
            margin: 10px 0 10px;
            padding: 15px 10px 17px;
            background: #fff;
            margin-top: 0;
        }
        .user-info {
            height: 0;
            margin: 0;
            padding-top: 400/640*100%;
            background: url(images/q_zone/top-bg.jpg) center center no-repeat;
            background-size: cover;
            position: relative;
            .top-left {
                position: absolute;
                left: 15px;
                bottom: 10px;
                width: 72px
            }
            .top-right {
                bottom: 15px;
                right: 15px;
                position: absolute;
                width: 140px;
            }
        }
        .button-bar {
            height: 0;
            padding: 0;
            padding-top: 60/640*100%;
            position: relative;
            margin: 0;
            margin-bottom: 10px;
            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
            }
        }
        .bottom {
            height: 60px;
            text-align: center;
            padding: 0;
            background-color: transparent;
            // margin-bottom: 20px;
            .next-page {}
        }
    }
    /* 头衔和昵称 */
    &-cell-header {
        position: relative;
        height: 40px;
        overflow: hidden;
        .avatar {
            height: 40px;
            width: 40px;
            background: #ccc;
            border-radius: 50%;
        }
        .nickname {
            position: absolute;
            top: 0;
            left: 50px;
            font-size: 15px;
            color: #2b5891;
            font-weight: 600;
        }
        .time {
            position: absolute;
            bottom: 0;
            left: 50px;
            font-size: 10px;
            color: #707070;
        }
    }
    /* 消息内容 */
    &-cell-text {
        padding: 12px 0;
        font-size: 14px;
        line-height: 22px;
    }
    /* 照片 */
    &-cell-photo {
        width: 250px;
        margin-bottom: 15px;
        overflow: auto;
        img {
            float: left;
            width: 100px;
            height: 100px;
            background: #ccc;
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }
    /* 按钮区域 */
    &-cell-btn-group,
    &-cell-btn-group li {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    &-cell-btn-group {
        overflow: auto;
        .btn {
            width: 60px;
            height: 25px;
            border-radius: 25px;
            border: 1px #eaeaea solid;
            background: url(images/q_zone/sprite.png) no-repeat;
        }
        .share {
            float: left;
            background-position: -0px -1px;
        }
        .like {
            float: right;
            background-position: -64px -1px;
            margin-right: 5px;
        }
        .reply {
            background-position: -127px -1px;
            float: right;
        }
    }
    &-cell-view-time {
        margin-top: 14px;
        color: #396089;
        font-size: 13px;
        i {
            display: inline-block;
            width: 20px;
            height: 14px;
            background: url(images/q_zone/sprite.png) no-repeat -281px -1px;
        }
    }
    &-cell-like-list {
        margin-top: 14px;
        color: #396089;
        font-size: 14px;
        line-height: 24px;
        i {
            display: inline-block;
            width: 20px;
            height: 14px;
            background: url(images/q_zone/sprite.png) no-repeat -254px -4px;
        }
    }
    &-cell-reply-list,
    &-cell-reply-list li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &-cell-reply-list {
        margin-top: 14px;
        font-size: 13px;
        line-height: 24px;
        li .name {
            color: #396089;
        }
    }
}
