@import "../bower_components/normalize.css/normalize.css";
html body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.pages{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    background: #222222;
}

.page{
    overflow: hidden;
    position: relative;
    z-index: 2;
    float: left;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform ease 300ms;
}
